* {
	--font-outfit: 'Outfit', sans-serif;
	--font-roboto-slab: 'Roboto Slab', serif;
	--cor-1: #e63946;
	--cor-2: #f1faee;
	--cor-claro: #a8dadc;
	--cor-medio: #457b9d;
	--cor-escuro: #1d3557;
	--cor-black: black;
	--cor-white: white;
	font-family: var(--font-outfit);
}

.corpo {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: var(--cor-1);
	position: sticky;

}

.logo a {
	display: block;
	padding: 18px 0px 18px 8px;
	color: var(--cor-2);
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing: 0.5px;
}

.menu-icon {
	padding: 16px 11px;
	height: 100%;
	margin-left: auto;
}

.menu-icon svg {
	fill: var(--cor-2);
}

#menu-nav {
	width: 100%;
}

#menu-nav a {
	display: block;
	padding: 8px;
	border-top: 1px solid var(--cor-2);
	color: var(--cor-2);
	text-decoration: none;
}

.fechado {
	display: none;
}

nav.ativo {
	display: block;
}

main {
	margin-bottom: 10px;
}

main>h2 {
	padding: 10px 20px;
	font-size: 1.2em;
	font-family: var(--font-roboto-slab);
	font-weight: 500;
	color: var(--cor-escuro);
}

.carros {
	display: grid;
	grid-template-columns: auto;
	padding: 0 10px;
	grid-row-gap: 10px;
}

.card {
	position: relative;
	overflow: hidden;
	border-radius: 14px;
	height: calc(40vw - 20px);
	width: fit-content;
}

.card-gradient {
	position: absolute;
	width: 100%;
	height: 20vw;
	bottom: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.card img {
	margin-top: -40px;
}

.card a {
	text-decoration: none;
	color: var(--cor-2);
}

.card h3 {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2em;
	padding: 10px;
}

.card p {
	display: none;
}

.rodape {
	padding: 10px;
	margin-top: auto;
	width: 100%;
	background-color: var(--cor-1);
}

.rodape p {
	color: var(--cor-2);
	font-family: var(--font-roboto-slab);
	text-align: center;
	font-size: 1.2em;
}